[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=randomrefs
X-Python-2-Compatible=false
Name=Random Refs
Comment=Create a document with random reference pictures organized into a grid, ready for you to paint on.